.mainContainer{
    width: 100%;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
}

.heroContainer{
    width: 70%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:  50px;
}

.heroTitle h1{
    font-family: "League Spartan", sans-serif;
    font-size: 6rem;
    transition: 0.1s;
    line-height: 5.2rem;
    margin-bottom: 0;

    &:hover{
        -webkit-text-stroke: 2px #fff;
        color: transparent;
    }
}

.heroTitle h3{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.heroMainPara{
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 70%;
    margin-top: 1rem;
}

.heroBtn button{
    font-family: "DM Sans", sans-serif;
}

@media screen and (max-width: 1024px){
    .mainContainer{
        padding-bottom: 60px;
    }
    
    .heroContainer{
        margin-top: 30px;
    }

    .heroTitle h1{
        font-size: 3.5rem;
        line-height: 3.1rem;
    }

    .heroTitle h3{
        font-size: 1.6rem;
    }

    .heroMainPara{
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .heroMainPara p{
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px){
    .mainContainer{
     padding-bottom: 80px;
    }
 
     .heroContainer{
        width: 85%;
        margin-top: 0px;
     }
 
     .heroTitle h1{
         font-size: 3rem;
         line-height: 2.6rem;
     }
 
     .heroTitle h3{
         font-size: 1.1rem;
     }
 
     .heroMainPara{
         font-size: 0.9rem;
         width: 90%;
         margin-top: 0.5rem;
     }
 
     .heroMainPara p{
         margin-bottom: 0.5rem;
     }
 
 }