.containerXY {
    position: relative; 
    width: 100%;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.slider-heading {
    position: absolute;
    top: 35px; 
    left: 100px;
    font-size: 2.5rem;
    color: #fff;
    z-index: 1; 
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 1;
    text-shadow: black;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
}

.slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1), /* 1st image */
.slide .item:nth-child(2) { /* 2nd image */
    top: 0;
    left: 0;
    transform: translateY(0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(4) {
    left: calc(50% + 440px);
}

.slide .item:nth-child(n+5) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translateY(-50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    font-family: "Montserrat", sans-serif;
    animation: animate 1s ease-in-out 0s 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    animation: animate 1s ease-in-out 0s 1 forwards; 
}

.content button {
    animation: animate 1s ease-in-out 0s 1 forwards;
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translateY(100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: #fff;
}


@media (max-width: 768px) {
    .slider-heading {
        font-size: 30px;
        left: 50px;
    }

    .content {
        width: 200px;
        left: 50px !important;
    }
}

@media (max-width: 576px) {
    .slider-heading {
        font-size: 30px;
        left: 20px;
    }

    .content {
        width: 150px;
        left: 20px !important;
    }
}