.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    aspect-ratio: 7/2;
    background: linear-gradient(180deg, rgba(216, 151, 240, 0.3) 0%, rgba(230, 202, 240, 0.3) 100%);
    position: relative;
    padding: 0px 30px;
}

.imgContainer{
    width: 45%;
    z-index: -1;
}

.imgContainer img{
    width: 100%;
    aspect-ratio: 1/1;
}

.formContainer{
    width: 45%;
    z-index: 1;
    margin: 40px;
    
}

.svgContainer{
    aspect-ratio: 1/1;
    width: 35%;
    position: absolute;
    z-index: 0;
    right: 10%;
    margin: auto;
}

.formC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.formC form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
    border-radius: 12px;
}

.formC form input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.formC form textarea{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    resize: none;
    overflow-y: auto;
}

.name{
    display: flex;
    gap: 10px;
    width: 100%;
}

.formC h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.name input{
    width: 50%;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        aspect-ratio: 2/1;
    }

    .imgContainer{
        display: none;    
}

    .formContainer{
        width: 100%;
    }

    .svgContainer{
        width: 50%;
        right: 25%;
    }

    .formC{
        margin: 0;
    }

    .formC form{
        gap: 10px;
    }

    .name input{
        width: 100%;
    }
}