.container{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.GroupTripPage {
    margin: auto;
    margin-bottom: 25px;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 1500px; 
}

.tripImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.h11 {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
}

.h22 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    color: #444; 
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}


.itineraryList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.itineraryItem {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.itineraryItem:hover {
    transform: scale(1.01); 
}

.itineraryDay {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #f5deb3; 
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.itineraryDay:hover {
    background-color: #f0e68c; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Activities list */
.activitiesList {
    margin-top: 10px;
    list-style-type: disc;
    margin-left: 20px;
}

.activitiesList li {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

/* Policies section */
.policiesSection {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgba(211, 211, 211, 0.4); 
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.policiesSection h2 {
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: #f9f9f9; 
    padding: 10px;
    border-radius: 5px;
}

.policiesSection h2:hover {
    color: #000;
    background-color: #e0e0e0;
}

.policiesSection p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.policiesSection p:hover {
    color: #000;
}

.bookCall{
    display: flex;
    margin-top: 20px;
}

.bookCall h3 {
    font-family: "Montserrat", sans-serif;

}

.button {
    display: inline-block;
    background-color: #f0e68c;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #d8d865;
}


@media (max-width: 768px) {
    .GroupTripPage {
        padding: 1rem;
    }

    .h11 {
        font-size: 1rem;
    }

    .h22 {
        font-size: 1.5rem;
    }

    .itineraryDay {
        font-size: 1.2rem;
    }

    .policiesSection h2 {
        font-size: 0.9rem;
    }
}