.section-work-data {
    background-color: #50d8d7;
    background-image: linear-gradient(316deg, #50d8d7 0%, #d897f0 74%);
    transition: all 0.7s linear;
    color: whitesmoke;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
    margin-top: 5px;

}

.contain{
    margin: 20px 0 0px 0;
}
/* 
.heavy{
    flex: 1;
} */

.counter-numbers {
    font-size: 4.8rem;
}

@media (max-width: 1024px) {
    .counter-numbers{
        font-size: 3.2rem;
   }
    
}

@media (max-width: 768px) {
    .counter-numbers{
        font-size: 2rem;
   } 
}

@media (max-width: 576px) {
    .section-work-data {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    .heavy{
        width: 45%;
    }

   
}

