.mainContainer{
    width: 100%;
    background: url("/abstract-purple-watercolor-background-illustration-high-resolution-free-photo_1340-21028.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); ;
    background-blend-mode: overlay; /* This is the key to make the background image transparent */
}

@media (max-width: 500px){
    .mainContainer{
        aspect-ratio: 2/1;
        padding-bottom: 20px;
    }
}

.heroContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 55%;
    aspect-ratio: 8/3;
    color: azure;

}

.heroContainer h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

@media (max-width: 500px){
    .heading{
        font-size:2rem !important;
    }
}