.footer{
    display: flex;
    color: #fff;
    aspect-ratio: 4/1;
    justify-content: flex-start;
    padding: 40px 50px;
    align-items:flex-start;
    flex-wrap: wrap;

}

.svgContainer{
    aspect-ratio: 25/2;
    background-color: #fff;
}

.svgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.paddingRight{
    padding-right: 50px !important;
    flex: 1.3 !important;
}

.container h3{
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: "Alex Brush", cursive;
}

.logosContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo{
    width: 25px;
    height: 25px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container ul li{
    list-style: none;
}

.container ul li a{
    text-decoration: none;
    color: inherit;   
}

.container ul{
    padding-left: 0;
}

.container p{
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    padding-bottom: 15px;
}

.footerContainer{
    background: linear-gradient(180deg, #d897f0, #9a65ad);
}

.bottomFooter{
    display: flex;
    justify-content: center;
    padding: 0px 0px 30px 0px;
    color: #fff;
}

.bottomFooter p{
    padding: 0;
}

@media (max-width: 1024px) {
    .paddingRight{
        padding-right: 20px !important;
        padding-left: 0px !important;
        flex: 1 !important;
    }

    .bottomFooter{
        padding: 0px 0px 10px 0px;
    }

    .quickLinks{
        display: none;
    }

    .container{
        flex: none;
        padding-left: 0px;
    }

}

@media (max-width: 768px) {
    .container{
        padding-left: 0px;
    }

    .footer{
        padding: 20px 20px;
    }

    .bottomFooter{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 10px;
    }

    .bottomFooter p{
        font-size: 0.8rem;
    }
}