.Head {
  display: flex; 
  justify-content: space-between; 
  margin: 20px; 
}

.blogPostContainer {
  padding: 2rem;
  max-width: 1000px; 
  margin: 15px; 
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  flex: 2; 
}

.blogTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #333;
}

.blogImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.blogDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 2rem;
}


.extraImages {
  flex: 1; 
  display: flex; 
  flex-direction: column; 
  background-color: #f9f9f9;
  margin-top: 1.5rem; 
  gap: 10px; 
}

.extraImage {
  width: 100%; 
  height: auto;
  border-radius: 4px;
}

.Head > div {
  display: flex; 
  flex-direction: column; 
}

@media (max-width: 768px) {
  .Head {
    flex-direction: column; 
  }

  .blogPostContainer {
    margin: 0; 
  }

  .extraImages {
    margin-top: 0; 
  }
  .bgNavbar{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: 100px;
  }
}